rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /concerts/{concertId} {
      allow read: if true;
      allow write: if false;
    }

    match /metadata/{documentId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
